@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  /* font-weight: 100 900; */
  font-display: optional;
}

* {
  /* cursor: none; */
  /* transition: all 0.1s ease-in; */
}

html,
body,
#__next {
  height: 100% !important;
}
